<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LogonServlet</servlet-name>
        <servlet-class>servlets.LogonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPassServlet</servlet-name>
        <servlet-class>servlets.AddPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePassServlet</servlet-name>
        <servlet-class>servlets.DeletePassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePassServlet</servlet-name>
        <servlet-class>servlets.UpdatePassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExistingPassServlet</servlet-name>
        <servlet-class>servlets.ExistingPassServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogonServlet</servlet-name>
        <url-pattern>/Logon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPassServlet</servlet-name>
        <url-pattern>/AddPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePassServlet</servlet-name>
        <url-pattern>/DeletePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePassServlet</servlet-name>
        <url-pattern>/UpdatePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExistingPassServlet</servlet-name>
        <url-pattern>/ExistingPass</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Logon.jsp</welcome-file>
    </welcome-file-list>
</web-app>
